{% extends 'admins/base.html' %}

{% block content %}

    <div style="direction: ltr;" class="wrapper">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper p-5">
            <div class="row mb-2">
                <div class="col-7">
                    <h1>Trains</h1>
                </div>
            </div>
            <!-- content -->
            <section class="content">

                <div class="card card-solid">
                    <div class="card-body pb-0">
                        <div class="row d-flex align-items-stretch">
                            {% for train in trains %}
                                <div id="" class="col-md-4">
                                    <div id="" class="card card-widget widget-user ">

                                        {% if train.photo %}
                                            <div style="background: url({{train.photo.url}}); background-size: cover"
                                                 class="widget-user-header bg-info">
                                            </div>
                                        {% else %}
                                            <div style="background-size: cover"
                                                 class="widget-user-header bg-info">
                                            </div>
                                        {% endif %}

                                        <div class="card-footer">
                                            <div class="row">
                                                <div class="col-sm-6 border-right">
                                                    <div class="description-block">
                                                        <h5 class="description-header">{{ train.train_id }}</h5>
                                                        <span class="description-text">ID</span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 border-right">
                                                    <div class="description-block">
                                                        <h5 class="description-header">{{ train.model }}</h5>
                                                        <span class="description-text">Model</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="text-right">
                                                <a href="{% url 'update_train' train.id %}"
                                                   class="btn btn-sm btn-primary">
                                                    <i class="fas fa-book"></i> Update
                                                </a>
                                                <a href="{% url 'delete_train' train.id %}" class="btn btn-sm bg-danger">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
            <a href="{% url 'index'%}" class="btn btn-primary ">back</a>

            <!-- Add train section -->
            <div class="row m-1 mb-3">
                <a href="#train-form" class="btn btn-primary" data-toggle="collapse">+ Add a train</a>
            </div>

            <div id="train-form" class="card card-primary collapse">
                <div class="card-header ">
                    <h3 class="card-title">Adding train</h3>
                </div>

                <!-- Add train form -->
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-body">
                        {{ form }}
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

{% endblock %}